* {
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background: #111111;
    width: -webkit-fill-available;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

input {
    user-select: none;
    background: #111111;
    border: 2px solid #333;
    padding: 10px;
    outline: none;
}

button {
    user-select: none;
    background: #111111;
    border: 2px solid #333;
    padding: 10px;
    outline: none;
}

video {
    user-select: none;
    background: #111111;
    border: 2px solid #333;
    outline: none;
    height: 100%;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos_block {
    display: flex;
    height: auto;
    margin: auto;
    width: max-content;
}

.main_videos_block {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.local_video {
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 0;
}

.remote_video {
    display: flex;
    width: 400px;
    height: -webkit-fill-available;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}